* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100vh;
  background-color: #bdc3c7;
}

.title-section {
  height: 4%;
  background-color: #27ae60;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  outline: none;
}

.menu-bar-section {
  height: 4%;
  background-color: white;
  display: flex;
  align-items: center;
}
.menu-bar-section div {
  margin-left: 20px;
  color: black;
}

.menu-options-section {
  height: 8%;
  background-color: #2ecc71;
}

.formula-section {
  height: 4%;
  background-color: cadetblue;
  display: flex;
}

.formula-section .selected-cell-div {
  height: 100%;
  width: 20%;
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formula-section input {
  display: block;
  width: 80%;
  height: 100%;
  border: none;
  border: 1px solid;
  outline: none;
}

.grid {
  height: 76%;
  overflow: auto;
}

.sheets-section {
  height: 4%;
  background-color: #2ecc71;
}

.blank-corner {
  height: 30px;
  width: 30px;
  background-color: gray;
}

.row-number-section {
  display: inline-block;
}

.row-number {
    height: 30px;
    width: 30px;
    background-color: #27ae60;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid;
}

.column-tag-section{
    height: 30px;
    position: fixed;
    background-color: bisque;
    top: 20vh;
    left: 30px;
    display: flex;
}

.column-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    flex-shrink: 0;
    height: 30px;
    background-color: #27ae60;
    border: none;
    border-right: 1px solid;
    color: white;
}
